/* 1. Google Fonts must come first */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 2. Tailwind import--> after importing fonts */
@import "tailwindcss";

/* 3. Plugins */
@plugin "daisyui";

/* 4. Theme tokens */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* 5. Global style */
body {
  font-family: var(--font-inter);
}
